body {
    background-color: black;
}
.login-title {
    text-align: center;
    color: rgba(239,144,203);
    margin-bottom: 20px;
    text-shadow: 0 0 10px deeppink, 0 0 20px deeppink;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f4f4f4;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

    .login-form:hover {
        transform: translateY(-3px) scale(1.05);
    }
.form-group{
    margin-bottom:15px;
}
.form-group label{
    display:block;
    margin-bottom: 10px;
    font-weight:700;
}
.form-control{
    width:100%;
    padding:10px;
    border:1px solid #555;
    box-sizing:border-box;
}
.btn-primary {
    display: inline-block;
    padding: 12px 28px;
    background-color: rgba(239,144,203); 
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

    .btn-primary:hover {
        background-color: #5CE65C;
        transform: translateY(-3px) scale(1.05);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        color: #f4f4f4;
    }